<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="CategoryMapper">
	<resultMap type="Category" id="categoryResultMap">
		<id property="refPensionNumber" 	column="REF_PENSION_NUMBER"/>
		<result property="swimming" 		column="SWIMMING"/>
		<result property="barbecue" 		column="BARBECUE"/>
		<result property="sing" 			column="SING"/>
		<result property="park" 			column="PARK"/>
		<result property="convenienceStore" column="CONVENIENCE_STORE"/>
		<result property="smokingRoom" 		column="SMOKING_ROOM"/>
		<result property="dog" 				column="DOG"/>
		<result property="handicapPerson" 	column="HANDICAP_PERSON"/>
		<result property="cook" 			column="COOK"/>
		<result property="breakfast" 		column="BREAKFAST"/>
		<result property="wifi" 			column="WIFI"/>
		<result property="aircon" 			column="AIRCON"/>
		<result property="refrigerator" 	column="REFRIGERATOR"/>
		<result property="bathtub" 			column="BATHTUB"/>
		<result property="dry" 				column="DRY"/>
		<result property="tv" 				column="TV"/>
		<result property="cStatus" 			column="C_STATUS"/>
	</resultMap>
	
<!-- 	<select id="selectPensionCategory" resultMap="categoryResultMap"> -->
<!-- 		SELECT  -->
<!-- 		    SWIMMING,BARBECUE,SING,PARK,CONVENIENCE_STORE,SMOKING_ROOM,DOG -->
<!-- 		    ,HANDICAP_PERSON,COOK,BREAKFAST,WIFI,AIRCON,REFRIGERATOR,BATHTUB,DRY,TV -->
<!-- 		FROM CATEGORY_TBL WHERE REF_PENSION_NUMBER = #{refPensionNumber} -->
<!-- 	</select> -->
	<select id="selectCategory" resultMap="categoryResultMap">
		SELECT * FROM CATEGORY_TBL WHERE REF_PENSION_NUMBER = #{refPensionNumber}
	</select>
	<insert id="insertCategory">
		INSERT INTO CATEGORY_TBL
		VALUES(#{refPensionNumber},#{swimming},#{barbecue},#{sing},#{park},#{convenienceStore}
		,#{smokingRoom},#{dog},#{handicapPerson},#{cook},#{breakfast},#{wifi},#{aircon}
		,#{refrigerator},#{bathtub},#{dry},#{tv},'1')
	</insert>
	
	<update id="updateCategory">
		UPDATE CATEGORY_TBL
		SET SWIMMING = #{swimming},BARBECUE = #{barbecue},SING = #{sing}, PARK = #{park},CONVENIENCE_STORE = #{convenienceStore}
		,SMOKING_ROOM = #{smokingRoom},DOG = #{dog},HANDICAP_PERSON = #{handicapPerson},COOK = #{cook},BREAKFAST = #{breakfast},WIFI = #{wifi}
		,AIRCON = #{aircon} ,REFRIGERATOR = #{refrigerator},BATHTUB = #{bathtub},DRY = #{dry},TV = #{tv}
		WHERE REF_PENSION_NUMBER = #{refPensionNumber}
	</update>
	
</mapper>