<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
   <resultMap type="Member" id="memberResultMap">
      <result    property="memberId"    column="MEMBER_ID"/>
      <result property="memberPwd"    column="MEMBER_PWD"/>
      <result property="memberEmail"    column="MEMBER_EMAIL"/>      
      <result property="adminCheck"    column="ADMIN_CHECK"/>   
      <result property="memberName"    column="MEMBER_NAME"/>   
      <result property="memberPhone"    column="MEMBER_PHONE"/>
      <result property="memberAddr"    column="MEMBER_ADDR"/>
      <result property="phone2"       column="PHONE2"/>
      <result property="phone3"       column="PHONE3"/>
      <result property="authEmail"    column="AUTH_EMAIL"/>
      <result property="authToken"    column="AUTH_TOKEN"/>
      <result property="enrollDate"    column="ENROLL_DATE"/>
      <result property="updateDate"    column="UPDATE_DATE"/>
      <result property="useCount"    column="USE_COUNT"/>
      <result property="gender"       column="GENDER"/>   
      <result property="birthDate"    column="BIRTH_DATE"/>
      <result property="mStatus"       column="M_STATUS"/>
       <result property="memberNo"       column="MEMBER_NO"/>
       <result property="couponCount"       column="COUPON_COUNT"/>

   </resultMap>
   	<!-- 아이디 중복 체크 -->
<select id="idChk" resultType="int">
	SELECT COUNT(*) FROM MEMBER_TBL
	WHERE MEMBER_ID = #{memberId}
</select>
   	<!-- 비밀번호 중복 체크 -->
<select id="passChk" resultType="int">
	SELECT COUNT(*) FROM MEMBER_TBL
	WHERE MEMBER_ID = #{memberId}
	AND MEMBER_PWD= #{memberPwd}
</select>
<!-- 아이디 찾기 결과 -->
  	<select id="findIdByEmail" resultMap="memberResultMap">
  		SELECT MEMBER_ID FROM MEMBER_TBL WHERE MEMBER_EMAIL = #{memberEmail }
  	</select>
  	<!-- 비번 찾기 결과 -->
  	<select id="findPwdByEmail" resultMap="memberResultMap">
  		SELECT MEMBER_PWD FROM MEMBER_TBL WHERE MEMBER_EMAIL = #{memberEmail } 
  	</select>

   <select id="selectMemberInfo" resultMap="memberResultMap">
   		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId}
   		</select>
   <select id="selectCheckOne" resultType="_int">
      SELECT COUNT(*) FROM MEMBER_TBL
   </select>
   <insert id="insertMember">
      INSERT INTO MEMBER_TBL
      VALUES(#{memberId}, #{memberPwd}, #{memberEmail}, DEFAULT, #{memberName}, #{memberPhone }, #{memberAddr }, NULL, NULL, DEFAULT, NULL, DEFAULT, DEFAULT, DEFAULT, NULL, NULL, DEFAULT, SEQ_MEMBER_NO.NEXTVAL, 0)
   </insert>
   <update id="updateMember" parameterType="Member">
      UPDATE MEMBER_TBL
      SET MEMBER_PWD = #{memberPwd }, MEMBER_NAME = #{memberName }, MEMBER_PHONE = #{memberPhone}
      , MEMBER_ADDR = #{memberAddr }
      WHERE MEMBER_ID = #{memberId }
   </update>
   
   <update id="deleteMember" parameterType="string">
      DELETE FROM MEMBER_TBL

      WHERE MEMBER_ID = #{memberId }
      AND MEMBER_PWD = #{memberPwd}

   </update>
   <select id="selectLoginOne" resultMap="memberResultMap">
      SELECT MEMBER_ID, MEMBER_NAME FROM MEMBER_TBL
      WHERE MEMBER_ID = #{memberId } AND MEMBER_PWD = #{memberPwd }
   </select>
   <select id="selectOneById" resultMap="memberResultMap">
      SELECT * FROM MEMBER_TBL
      WHERE MEMBER_ID = #{memberId } AND M_STATUS = 'Y'
   </select>
   <select id="checkIdDuplicate" resultType="_int">
      SELECT COUNT(*) FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId} AND M_STATUS = 'Y'
   </select>
   <select id="checkEmailDuplicate" resultType="_int">
      SELECT COUNT(*) FROM MEMBER_TBL WHERE MEMBER_EMAIL = #{memberEmail} AND M_STATUS = 'Y'
   </select>
   <select id="selectOneByEmail" resultMap="memberResultMap">
      SELECT * FROM MEMBER_TBL
      WHERE MEMBER_EMAIL = #{memberEmail }
   </select>

   <!--관리자 전체 멤버 리스트 조회-->
<select id="adminShowAllMember" resultMap="memberResultMap">
   SELECT * FROM MEMBER_TBL ORDER BY ENROLL_DATE DESC
</select>

   <!-- 관리자 페이징용 전체 멤버 리스트 조회 -->
   <select id="pagingShowAllMember" resultMap="memberResultMap">
      SELECT * FROM MEMBER_TBL ORDER BY ENROLL_DATE DESC
   </select>

   <!-- 관리자 멤버 삭제 -->
   <delete id="deleteAdminMember">
      DELETE FROM MEMBER_TBL WHERE MEMBER_NO = #{memberNo}
   </delete>

   <!-- 관리자 회원수 총합 -->
   <select id="countAllMember" resultMap="memberResultMap">
      SELECT COUNT(*) FROM MEMBER_TBL
   </select>

   <!-- 관리자 회원 검색 -->
   <select id="searchAllByValue" resultMap="memberResultMap">
      SELECT * FROM MEMBER_TBL
    <where>
         <if test="searchCondition.toString() == 'name'">
            MEMBER_NAME LIKE '%'||#{searchValue}||'%'
         </if>
         <if test="searchCondition.toString() == 'address'">
            MEMBER_ADDR LIKE '%'||#{searchValue}||'%'
         </if>
       <if test="searchCondition.toString() == 'phone'">
          MEMBER_PHONE LIKE '%'||#{searchValue}||'%'
       </if>
         <if test="searchCondition.toString() == 'all'">
            MEMBER_NAME LIKE '%'||#{searchValue}||'%'
            OR
            MEMBER_ADDR LIKE '%'||#{searchValue}||'%'
            OR
            MEMBER_PHONE LIKE '%'||#{searchValue}||'%'
         </if>
         ORDER BY MEMBER_NO DESC
      </where>
   </select>

   <update id="increaseCouponCount">
   	  UPDATE MEMBER_TBL SET COUPON_COUNT = COUPON_COUNT+1 WHERE MEMBER_ID = #{memberId}
   </update>

	<update id="decreaseCouponCount">
   	  UPDATE MEMBER_TBL SET COUPON_COUNT = COUPON_COUNT-1 WHERE MEMBER_ID = #{memberId}
   </update>

</mapper>