<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="MyCouponMapper">
	<resultMap type="MyCoupon" id="myCouponResultMap">
		<result property="memberId" 	   column="MEMBER_ID"/>
		<result property="couponCode" 	   column="COUPON_CODE"/>
		<result property="salePrice" 	   column="SALE_PRICE"/>
		<result property="cStatus"         column="C_STATUS"/>
		<result property="couponStartDate" column="COUPON_START_DATE"/>
		<result property="couponEndDate"   column="COUPON_END_DATE"/>
		<result property="couponGetDate"   column="COUPON_GET_DATE"/>
		<result property="couponUse"   	   column="COUPON_USE"/>
	</resultMap>
	
	<select id="confirmCoupon" resultType="_int">
		SELECT COUNT(*) FROM MY_COUPON_TBL WHERE MEMBER_ID = #{memberId} AND COUPON_CODE = #{couponCode}
	</select>
	
	<select id="selectAllMyCoupon" resultMap="myCouponResultMap">
		SELECT * FROM MY_COUPON_TBL WHERE MEMBER_ID = #{memberId}
	</select>

	<insert id="addMyCoupon">
		INSERT INTO MY_COUPON_TBL VALUES(#{memberId}, #{couponCode}, #{salePrice}, #{cStatus}, #{couponStartDate}, #{couponEndDate}, SYSDATE, 0)
	</insert>
	
	<update id="updateUseCount">
		UPDATE MY_COUPON_TBL SET COUPON_USE = COUPON_USE+1 WHERE MEMBER_ID = #{memberId} AND COUPON_CODE = #{couponCode}
	</update>
	
	<delete id="deleteMyCoupon">
		DELETE FROM MY_COUPON_TBL WHERE COUPON_CODE = #{couponCode}
	</delete>
</mapper>