<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="MyCouponMapper">
	<resultMap type="MyCoupon" id="myCouponResultMap">
		<result property="memberId" 	   column="MEMBER_ID"/>
		<result property="couponCode" 	   column="COUPON_CODE"/>
		<result property="salePrice" 	   column="SALE_PRICE"/>
		<result property="cStatus"         column="C_STATUS"/>
		<result property="couponStartDate" column="COUPON_START_DATE"/>
		<result property="couponEndDate"   column="COUPON_END_DATE"/>
		<result property="couponGetDate"   column="COUPON_GET_DATE"/>
		<result property="couponUse"   	   column="COUPON_USE"/>
		<result property="couponImage"     column="COUPON_IMAGE"/>
		<result property="couponTitle"     column="COUPON_TITLE"/>
		<result property="couponComments"     column="COUPON_COMMENTS"/>
	</resultMap>
	
	<select id="confirmCoupon" resultType="_int">
		SELECT COUNT(*) FROM MY_COUPON_TBL WHERE MEMBER_ID = #{memberId} AND COUPON_CODE = #{couponCode}
	</select>
	
	<select id="selectAllMyCoupon" resultMap="myCouponResultMap">
		SELECT * FROM MY_COUPON_TBL WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectMyCoupon" resultMap="myCouponResultMap">
		SELECT * FROM MY_COUPON_TBL
	</select>

	<insert id="addMyCoupon">
		INSERT INTO MY_COUPON_TBL VALUES(#{memberId}, #{couponCode}, #{salePrice}, #{cStatus}, #{couponStartDate}, #{couponEndDate}, SYSDATE, 0, #{couponImage}, #{couponTitle}, #{couponComments})
	</insert>
	
<!-- 	쿠폰 적용후 결제했을때 사용은 1로 바뀐다.  -->
<!-- 	결제하지않으면 0인상태이고 만약 예약페이지에서 취소하게 된다면 다시 사용할수있는상태인 0으로 바뀌게되고, -->
<!-- 	결제완료 후 숙박이용 완료되면 쿠폰은 2인상태가 된다. 2는 아예사용할 수 없는상태이다. -->
	<update id="updateUseCount">
		UPDATE MY_COUPON_TBL SET COUPON_USE = COUPON_USE+1 WHERE MEMBER_ID = #{memberId} AND COUPON_CODE = #{couponCode}
	</update>
	
	<update id="increaseUseCount">
		UPDATE MY_COUPON_TBL SET COUPON_USE = COUPON_USE-1 WHERE MEMBER_ID = #{memberId} AND COUPON_CODE = #{couponCode}
	</update>
	
	<delete id="deleteMyCoupon">
		DELETE FROM MY_COUPON_TBL WHERE COUPON_CODE = #{couponCode}
	</delete>
</mapper>