<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  <mapper namespace="PensionMapper">
	<resultMap type="Pension" id="pensionResultMap">
      <id    property="pensionNo"       	column="PENSION_NO" />
      <result property="memberId"       	column="MEMBER_ID"/>
      <result property="pensionName"       	column="PENSION_NAME"/>
      <result property="pensionAddr"       	column="PENSION_ADDR"/>
      <result property="pensionComments"    column="PENSION_COMMENTS"/>
      <result property="pensionPrice"    	column="PENSION_PRICE"/>
      <result property="hardness"       	column="HARDNESS"/>
      <result property="latitude"       	column="LATITUDE"/>
      <result property="cancelPension"    	column="CANCEL_PENSION"/>
      <result property="pensionCheckin"    	column="PENSION_CHECKIN"/>
      <result property="pensionCheckout"    column="PENSION_CHECKOUT"/>
      <result property="filePath"          	column="FILE_PATH"/>
      <result property="fileImage"          column="FILE_IMAGE"/>
      <result property="pensionFileName"    column="PENSION_FILE_NAME"/>
      <result property="pensionFileRename"  column="PENSION_FILE_RENAME"/>
      <result property="reviewCount"        column="REVIEW_COUNT"/>
      <result property="jjimCount"         	column="JJIM_COUNT"/>
   </resultMap>
	<!-- 숙소 이름 중복 체크 -->
   <select id="selectPensionName" resultType="_int">
   		SELECT COUNT(*) FROM PENSION_TBL WHERE PENSION_NAME = #{pensionName}
   </select>
	<!-- 숙소 상세페이지 -->
   <select id="selectPension" resultMap="pensionResultMap">
   		SELECT * FROM PENSION_TBL WHERE PENSION_NO = #{pensionNo}
   </select>
	<!-- 숙소 번호 가져오기 -->
	<select id="selectPensionNo" resultType="_int">
		SELECT PENSION_NO FROM PENSION_TBL WHERE PENSION_NAME = #{pensionName}
	</select>
	<!-- 숙소 찜 총 갯수 가져오기 -->
	<select id="selectPensionCount" resultType="_int">
		SELECT COUNT(*)
		FROM PENSION_TBL P
		INNER JOIN (SELECT * FROM JJIM_TBL WHERE MEMBER_ID = #{memberId}) J
		ON P.PENSION_NO = J.PENSION_NO
	</select>
	<!-- 찜 목록 가져오기 -->
	<select id="selectJjimPension" resultMap="pensionResultMap">
		SELECT *
		FROM PENSION_TBL P
		INNER JOIN (SELECT * FROM JJIM_TBL WHERE MEMBER_ID = #{memberId}) J
		ON P.PENSION_NO = J.PENSION_NO
	</select>
	<!-- 마이페이지 회원이 등록한 펜션 갯수 가져오기 -->
	<select id="selectPnesionCount" resultType="_int">
		SELECT COUNT(*) FROM PENSION_TBL WHERE MEMBER_ID = #{memberId}
	</select>
	<!-- 마이페이지 회원이 등록한 펜션 전부 가져오기 -->
	<select id="selectMyPension" resultMap="pensionResultMap">
		SELECT * FROM PENSION_TBL WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 숙소 등록-->
	<insert id="insertPension">
		INSERT INTO PENSION_TBL
		VALUES(SEQ_PENSION_NO.NEXTVAL,#{memberId}, #{pensionName},#{pensionAddr},#{pensionComments}
			,'0',#{hardness},#{latitude},DEFAULT,#{pensionCheckin},#{pensionCheckout},#{filePath},DEFAULT
			,#{pensionFileName},#{pensionFileRename},DEFAULT,DEFAULT)
	</insert>
	<!-- 숙소 찜 총 갯수 + 1 -->
	<update id="updateJjimCount">
		UPDATE PENSION_TBL SET JJIM_COUNT = JJIM_COUNT + 1
		WHERE PENSION_NO = #{pensionNo}
	</update>
	<!-- 숙소 찜 총 갯수 - 1 -->
	<update id="deleteJjimCount">
		UPDATE PENSION_TBL SET JJIM_COUNT = JJIM_COUNT - 1
		WHERE PENSION_NO = #{pensionNo}
	</update>
	<!-- 숙소 수정 -->
	<update id="updatePension">
		UPDATE PENSION_TBL 
		SET PENSION_NAME = #{pensionName}, PENSION_ADDR = #{pensionAddr}
			,PENSION_COMMENTS = #{pensionComments}, PENSION_PRICE = #{pensionPrice}
			,HARDNESS = #{hardness}, LATITUDE = #{latitude}, PENSION_CHECKIN = #{pensionCheckin}
			,PENSION_CHECKOUT = #{pensionCheckout},FILE_PATH = #{filePath}, PENSION_FILE_NAME = #{pensionFileName}
			,PENSION_FILE_RENAME = #{pensionFileRename}
		WHERE PENSION_NO = #{pensionNo}
	</update>
	<!-- 숙소 삭제 -->
	<delete id="deletePension">
		DELETE FROM PENSION_TBL WHERE PENSION_NO = #{pensionNo}
	</delete>
	<!-- 숙소 최저가 업데이트 -->
	<update id="updatePensionPrice">
		UPDATE PENSION_TBL SET PENSION_PRICE = #{price} WHERE PENSION_NO = #{refPensionNo}
	</update>
	
	<select id="selectAllPension" resultMap="pensionResultMap">
		SELECT * FROM PENSION_TBL
	</select>
	
	<select id="selectCategoryFilter" resultMap="pensionResultMap">
		SELECT * FROM PENSION_TBL WHERE PENSION_NO = #{pensionNo}
	</select>
	
	<select id="selectPensionRank" resultMap="pensionResultMap">
		SELECT * FROM PENSION_TBL WHERE PENSION_NO = #{pensionNo}
	</select>

	<select id="selectDate" resultMap="pensionResultMap">
		SELECT PENSION_NO, PENSION_ADDR, PENSION_PRICE * ${diffDays}, FILE_PATH FROM PENSION_TBL
	</select>

	<select id="selectPrice" resultMap="pensionResultMap">
		SELECT PENSION_NAME, PENSION_ADDR, FILE_PATH, REGEXP_REPLACE(PENSION_PRICE, '[^0-9]') AS PENSION_PRICE, PENSION_NO, REVIEW_COUNT FROM PENSION_TBL
	</select>

	<select id="ascPriceSort" resultMap="pensionResultMap">
		SELECT PENSION_NAME, PENSION_ADDR, FILE_PATH, REGEXP_REPLACE(PENSION_PRICE, '[^0-9]') AS PENSION_PRICE, PENSION_NO, REVIEW_COUNT FROM PENSION_TBL ORDER BY PENSION_PRICE
	</select>

	<select id="descPriceSort" resultMap="pensionResultMap">
		SELECT PENSION_NAME, PENSION_ADDR, FILE_PATH, REGEXP_REPLACE(PENSION_PRICE, '[^0-9]') AS PENSION_PRICE, PENSION_NO, REVIEW_COUNT FROM PENSION_TBL ORDER BY PENSION_PRICE DESC
	</select>

	<!-- 관리자페이지 전체 펜션목록 조회 -->
	<select id="adminShowAllPension" resultMap="pensionResultMap">
		SELECT PENSION_NAME, PENSION_ADDR, PENSION_PRICE, REVIEW_COUNT FROM PENSION_TBL ORDER BY PENSION_NO DESC
	</select>


	<!-- 	재민 카테고리2 맵 -->
	<resultMap type="CATEGORY2" id="category2ResultMap">
		<result property="refPensionNumber" 		column="REF_PENSION_NUMBER" />
		<result property="swimming" 		column="SWIMMING"/>
		<result property="barbecue" 		column="BARBECUE"/>
		<result property="sing" 			column="SING"/>
		<result property="park" 			column="PARK"/>
		<result property="convenienceStore" column="CONVENIENCE_STORE"/>
		<result property="smokingRoom" 		column="SMOKING_ROOM"/>
		<result property="dog" 				column="DOG"/>
		<result property="handicapPerson" 	column="HANDICAP_PERSON"/>
		<result property="cook" 			column="COOK"/>
		<result property="breakfast" 		column="BREAKFAST"/>
		<result property="wifi" 			column="WIFI"/>
		<result property="aircon" 			column="AIRCON"/>
		<result property="refrigerator" 	column="REFRIGERATOR"/>
		<result property="bathtub" 			column="BATHTUB"/>
		<result property="dry" 				column="DRY"/>
		<result property="tv" 				column="TV"/>
	</resultMap>
	
	<!-- 	재민 필터 -->
	<sql id="filter">
		<if test="swimming == true">
			OR SWIMMING = 1
		</if>
		<if test="barbecue == true">
			OR BARBECUE = 1
		</if>
		<if test="sing == true">
			OR SING = 1
		</if>
		<if test="park == true">
			OR PARK = 1
		</if>
		<if test="convenienceStore == true">
			OR CONVENIENCE_STORE = 1
		</if>
		<if test="smokingRoom == true">
			OR SMOKING_ROOM = 1
		</if>
		<if test="dog == true">
			OR DOG = 1
		</if>
		<if test="handicapPerson == true">
			OR HANDICAP_PERSON = 1
		</if>
		<if test="cook== true">
			OR COOK = 1
		</if>
		<if test="breakfast == true">
			OR BREAKFAST = 1
		</if>
		<if test="wifi = true">
			OR WIFI = 1
		</if>
		<if test="aircon== true">
			OR AIRCON = 1
		</if>
		<if test="refrigerator == true">
			OR REFRIGERATOR = 1
		</if>
		<if test="bathtub == true">
			OR BATHTUB = 1
		</if>
		<if test="dry == true">
			OR DRY = 1
		</if>
		<if test="tv== true">
			OR TV = 1
		</if>
 </sql>
	
	<!--재민 	카테고리 검색 -->
	<select id="selectCategory" resultMap="category2ResultMap">
		SELECT REF_PENSION_NUMBER FROM CATEGORY_TBL WHERE C_STATUS = 0 <include refid="filter"></include>
	</select>
	
	
</mapper>