<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  <mapper namespace="PensionMapper">
	<resultMap type="Pension" id="pensionResultMap">
      <id    property="pensionNo"       column="PENSION_NO" />
      <result property="memberId"       column="MEMBER_ID"/>
      <result property="pensionName"       column="PENSION_NAME"/>
      <result property="category"       column="CATEGORY"/>
      <result property="pensionAddr"       column="PENSION_ADDR"/>
      <result property="pensionComments"    column="PENSION_COMMENTS"/>
      <result property="pensionPrice"    column="PENSION_PRICE"/>
      <result property="hardness"       column="HARDNESS"/>
      <result property="latitude"       column="LATITUDE"/>
      <result property="cancelPension"    column="CANCEL_PENSION"/>
      <result property="pensionCheckin"    column="PENSION_CHECKIN"/>
      <result property="pensionCheckout"    column="PENSION_CHECKOUT"/>
      <result property="filePath"          column="FILE_PATH"/>
      <result property="fileImage"          column="FILE_IMAGE"/>
      <result property="pensionFileName"          column="PENSION_FILE_NAME"/>
      <result property="pensionFileRename"          column="PENSION_FILE_RENAME"/>
   </resultMap>
	
	<select id="selectPensionNo" resultType="_int">
		SELECT PENSION_NO FROM PENSION_TBL WHERE PENSION_NAME = #{pensionName}
	</select>
	
	<insert id="insertPension">
		INSERT INTO PENSION_TBL
		VALUES(SEQ_PENSION_NO.NEXTVAL,NULL, #{pensionName},'제주도',#{pensionComments},'0',NULL,NULL,DEFAULT,#{pensionCheckin},#{pensionCheckout},#{filePath},DEFAULT,#{pensionFileName},#{pensionFileRename} )
	</insert>
	
	
	<select id="selectAllPension" resultMap="pensionResultMap">
		SELECT * FROM PENSION_TBL
	</select>
	
	<select id="selectCategoryFilter" resultMap="pensionResultMap">
		SELECT * FROM PENSION_TBL WHERE PENSION_NO = #{pensionNo}
	</select>
	
	<select id="selectPensionRank" resultMap="pensionResultMap">
		SELECT * FROM PENSION_TBL WHERE PENSION_NO = #{pension.pensionNo}
	</select>
	
	
	<!-- 	재민 카테고리2 맵 -->
	<resultMap type="CATEGORY2" id="category2ResultMap">
		<result property="pensionNo" 		column="PENSION_NO" />
		<result property="swimming" 		column="SWIMMING"/>
		<result property="barbecue" 		column="BARBECUE"/>
		<result property="sing" 			column="SING"/>
		<result property="park" 			column="PARK"/>
		<result property="convenienceStore" column="CONVENIENCE_STORE"/>
		<result property="smokingRoom" 		column="SMOKING_ROOM"/>
		<result property="dog" 				column="DOG"/>
		<result property="handicapPerson" 	column="HANDICAP_PERSON"/>
		<result property="cook" 			column="COOK"/>
		<result property="breakfast" 		column="BREAKFAST"/>
		<result property="wifi" 			column="WIFI"/>
		<result property="aircon" 			column="AIRCON"/>
		<result property="refrigerator" 	column="REFRIGERATOR"/>
		<result property="bathtub" 			column="BATHTUB"/>
		<result property="dry" 				column="DRY"/>
		<result property="tv" 				column="TV"/>
	</resultMap>
	
	<!-- 	재민 필터 -->
	<sql id="filter">
		<if test="swimming == true">
			OR SWIMMING = 1
		</if>
		<if test="barbecue == true">
			OR BARBECUE = 1
		</if>
		<if test="sing == true">
			OR SING = 1
		</if>
		<if test="park == true">
			OR PARK = 1
		</if>
		<if test="convenienceStore == true">
			OR CONVENIENCE_STORE = 1
		</if>
		<if test="smokingRoom == true">
			OR SMOKING_ROOM = 1
		</if>
		<if test="dog == true">
			OR DOG = 1
		</if>
		<if test="handicapPerson == true">
			OR HANDICAP_PERSON = 1
		</if>
		<if test="cook== true">
			OR COOK = 1
		</if>
		<if test="breakfast == true">
			OR BREAKFAST = 1
		</if>
		<if test="wifi = true">
			OR WIFI = 1
		</if>
		<if test="aircon== true">
			OR AIRCON = 1
		</if>
		<if test="refrigerator == true">
			OR REFRIGERATOR = 1
		</if>
		<if test="bathtub == true">
			OR BATHTUB = 1
		</if>
		<if test="dry == true">
			OR DRY = 1
		</if>
		<if test="tv== true">
			OR TV = 1
		</if>
 </sql>
	
	<!--재민 	카테고리 검색 -->
	<select id="selectCategory" resultMap="category2ResultMap">
		SELECT PENSION_NO FROM CATEGORY_TBL WHERE C_STATUS = 0 <include refid="filter"></include>
	</select>
	
	
</mapper>