<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ReservationMapper">
	<resultMap type="Reservation" id="reservationResultMap">
		<id 	property="reservationNo" 		column="RESERVATION_NO" />
		<result property="memberId" 		column="MEMBER_ID"/>
		<result property="rStatus" 		column="R_STATUS"/>
		<result property="roomNo" 		column="ROOM_NO"/>
		<result property="rePensionNo" 		column="RE_PENSION_NO"/>
		<result property="useHistory" 		column="USE_HISTORY"/>
		<result property="rePrice" 		column="RE_PRICE"/>
	</resultMap>
	
	<insert id="insertReservation">
		INSERT INTO RESERVATION_TBL VALUES(SEQ_RESERVATION_NO.NEXTVAL, #{memberId}, 1, #{roomNo}, #{rePensionNo}, 0, #{rePrice})
	</insert>

	<!-- 관리자페이지 , SELECT 내용 추가하기 -->
	<select id="adminShowAllReservation" resultMap="reservationResultMap">
		SELECT 	RESERVATION_NO, MEMBER_ID, R_STATUS, ROOM_NO, RE_PENSION_NO, USE_HISTORY, USE_HISTORY, RE_PRICE FROM RESERVATION_TBL ORDER BY RESERVATION_NO DESC
	</select>
</mapper>