<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ReviewMapper">
	<resultMap type="Review" id="reviewResultMap">
		<id 	property="reviewNo" 		column="REVIEW_NO" />
		<result property="memberId" 		column="MEMBER_ID"/>
		<result property="regDate" 			column="REGDATE"/>
		<result property="reviewUpdate" 	column="REVIEW_UPDATE"/>
		<result property="reviewContents" 	column="REVIEW_CONTENTS"/>
		<result property="reviewCount" 		column="REVIEW_COUNT"/>
		<result property="pensionNo" 		column="PENSION_NO"/>
	</resultMap>

	<resultMap type="Review" id="reviewCountMap">
		<result property="reviewCount" 		column="REVIEW_COUNT"/>
		<result property="reviewContents" 	column="REVIEW_CONTENTS"/>
		<result property="reviewCount" 		column="REVIEW_COUNT"/>
		<result property="pensionNo" 		column="PENSION_NO"/>
	</resultMap>

	<!-- 해당 아이디 후기 총 갯수 가져오기 -->
	<select id="selectReviewCount" resultType="_int">
		SELECT COUNT(*) FROM REVIEW_TBL WHERE MEMBER_ID = #{memberId}
	</select>
	<!-- 해당 아이디 후기 전부 가져오기 -->
	<select id="selectReview" resultMap="reviewResultMap">
		SELECT * FROM REVIEW_TBL WHERE MEMBER_ID = #{memberId} ORDER BY REGDATE DESC
	</select>
	
	<select id="selectReviewRank" resultMap="reviewCountMap">
		SELECT PENSION_NO FROM (SELECT DISTINCT PENSION_NO, REVIEW_COUNT, DENSE_RANK() OVER (ORDER BY REVIEW_COUNT DESC) DENSE_RANK FROM REVIEW_TBL ORDER BY REVIEW_COUNT DESC) <![CDATA[WHERE ROWNUM <= 5]]> 
	</select>

	<!-- 리뷰 전부 불러오기 (상세페이지)-->
	<select id="selectAllReview" resultMap="reviewResultMap">
		SELECT * FROM REVIEW_TBL WHERE PENSION_NO = #{pensionNo} ORDER BY REGDATE DESC
	</select>

	<select id="selectReviewNumber" resultMap="reviewResultMap">
		SELECT DISTINCT REVIEW_COUNT FROM REVIEW_TBL WHERE PENSION_NO = #{pensionNo}
	</select>

	<!-- 관리자페이지 리뷰 전체조회 -->
	<select id="adminShowAllReview" resultMap="reviewResultMap">
		SELECT MEMBER_ID, REGDATE, REVIEW_CONTENTS FROM REVIEW_TBL ORDER BY REVIEW_NO DESC
	</select>
	<!-- 리뷰 등록 -->
	<insert id="insertReview">
		INSERT INTO REVIEW_TBL
		VALUES(SEQ_REPLY.NEXTVAL, #{memberId}, DEFAULT,DEFAULT,#{reviewContents},#{reviewCount},#{pensionNo})
	</insert>
	<!-- 리뷰 수정 -->
	<update id="updateReview">
		UPDATE REVIEW_TBL SET REVIEW_CONTENTS = #{reviewContents}, REGDATE = DEFAULT
		WHERE REVIEW_NO = #{reviewNo}
	</update>
	<!-- 리뷰 삭제 -->
	<delete id="deleteReview">
		DELETE FROM REVIEW_TBL WHERE REVIEW_NO = #{reviewNo}
	</delete>
</mapper>